@import 'mixins.scss';
@import 'variables.scss';

$ui-font: "Helvetica Neue", "Gill Sans", sans-serif;
$body-font: "Marion", "Garamond", serif;
$desktop-max-width: 600pt;
$content-max-width: 480pt;
$nav-width: 70pt;

$desktop-header-font-size: 30pt;
$mobile-header-font-size: 24pt;
$desktop-nav-font-size: 10pt;
$mobile-nav-font-size: 13pt;
$mobile-header-size: 208pt;
$body-font-size: 18pt;
$desktop-card-title-font-size: 20pt;
$desktop-card-title-line-height: 23pt;
$desktop-card-roles-font-size: 12pt;
$mobile-card-title-font-size: 20pt;
$mobile-card-title-line-height: 23pt;
$mobile-card-roles-font-size: 12pt;

$text-color: black;
$inactive-color: #B3B3B3;
$towerfall-color: black;
$calendar-color: #FC3D39;
$gameplaykit-color: #F5683A;
$dndj-color: black;
$rp-color: #1B96B4;
$cocoanuts-color: #6D953B;

$img-border-radius: 5pt;

$link-fade-animation-length: 0.1s;
$resume-shade: 98%;

$desktop-card-height: 100pt;
$mobile-card-height: 140pt;

$light: 300;
$book: 400;
$demibold: 500;
$bold: 600;

$debug-color-bg: #F8F8F8;
$debug-color-1: #FFF8F8;
$debug-color-2: #F8FFF8;
$debug-color-3: #F8F8FF;
$debug-color-4: #FFFFF8;
$debug-color-5: #F8FFFF;
$debug-color-6: #FFF8FF;

// Disable Debug Colors
$debug-color-bg: #FFFFFF;
$debug-color-1: #FFFFFF;
$debug-color-2: #FFFFFF;
$debug-color-3: #FFFFFF;
$debug-color-4: #FFFFFF;
$debug-color-5: #FFFFFF;
$debug-color-6: #FFFFFF;

html {
	max-width: $desktop-max-width;
	margin-left: auto;
	margin-right: auto;

	// DEBUG
	background-color: $debug-color-bg;
}

// DEBUG
#background {
	position: absolute;
	top: 0;
	max-width: $desktop-max-width;
	margin-left: 10pt;
	margin-right: 10pt;
	width: auto;
	height: auto;
	z-index: 100;

	background-color: white;
}

#flexbox {
	display: flex;
}

a {
	color: inherit;
	text-decoration: none;
	@include fade;
}

a:hover {
	color: #FF2323;
}

header {
	flex: 0 1 $desktop-max-width;
	display: inline-block;
	padding-top: 30pt;
	margin-left: 100pt;

	color: $text-color;
	font-family: $ui-font;
	font-size: $desktop-header-font-size;

	#header-title {
		display: inline-block;
		font-weight: $bold;
	}

	#header-subtitle {
		display: inline-block;
		font-weight: $light;
	}

	// DEBUG
	background-color: $debug-color-1;
}

nav {
	flex: 0 0 $nav-width;

	height: auto;
	padding-top: 20pt;
	font-family: $ui-font;
	font-size: $desktop-nav-font-size;
	font-weight: $demibold;

	text-align: right;
	line-height: 1.6;

	#active-link {
		color: $text-color;
	}

	#inactive-link {
		color: $inactive-color;
	}

	// DEBUG
	background-color: $debug-color-2;
}

main {
	flex: 0 1 $content-max-width;
	display: flex;
	flex-direction: column;

	position: relative;
	padding-top: 20pt;
	padding-left: 30pt;
	padding-right: 20pt;

	// DEBUG
	background-color: $debug-color-3;
}

// Work
main {
	.center-wrapper {
		display: table-cell;
		vertical-align: middle;
		height: $desktop-card-height;
	}

	.card {
		margin-bottom: 10pt;
		height: $desktop-card-height;
		border-radius: 5pt;

		font-family: $ui-font;
		color: white;

		.card-icon {
			float: left;
			height: 80pt;
			width: 80pt;
			margin-top: 10pt;
			margin-bottom: 10pt;
			margin-left: 20pt;
		}

		.card-text {
			display: inline-block;
			float: left;
			margin-top: 11pt;
			margin-bottom: 14pt;
			margin-left: 20pt;
			margin-right: 20pt;

			text-shadow: 0 1pt 10pt rgba(0, 0, 0, .4);

			.card-title {
				font-weight: $bold;
				font-size: $desktop-card-title-font-size;
				line-height: $desktop-card-title-line-height;
			}

			.card-roles {
				margin-top: 3pt;
				font-weight: $book;
				font-size: $desktop-card-roles-font-size;
			}
		}
	}

	#towerfall-card {
		background-color: $towerfall-color;

		.card-text {
			margin-top: 14pt;
			margin-bottom: 14pt;
		}
	}

	#calendar-card {
		background-color: $calendar-color;
	}

	#gameplaykit-card {
		background-color: $gameplaykit-color;
	}

	#dndj-card {
		background-color: $dndj-color;
	}

	#rp-card {
		background-color: $rp-color;
	}

	#cocoanuts-card {
		background-color: $cocoanuts-color;
	}
}

// Project
main {
	.hero-image {
		max-width: $content-max-width;
		border-radius: $img-border-radius;
		@include shade;
	}

	.project-text {
		position: absolute;
		top: 35pt;
		left: 30pt;
		// position: relative;
		// top: -270pt;
		margin-left: 20pt;

		color: white;
		font-family: $ui-font;

		.project-title {
			font-size: 36pt;
			font-weight: $demibold;
		}

		.project-roles {
			position: absolute;
			top: 45pt;
			font-size: 18pt;
			font-weight: $book;
		}

		.project-languages-tools {
			position: absolute;
			top: 200pt;

			font-size: 18pt;
			font-weight: $book;
		}
	}

	.sub-image-1 {
		margin-top: 5pt;
		margin-right: 5pt;
		width: 245pt;
		border-radius: $img-border-radius;
	}

	.sub-image-2 {
		width: 245pt;
		border-radius: $img-border-radius;
	}

	.subtitle {
		margin-top: 4pt;
		margin-left: 5pt;

		font-family: $ui-font;
		font-size: 12pt;
		font-weight: $demibold;
		color: #808080;
	}

	.subtitle a {
		color: #4B81FF;
	}

	article {
		margin-top: 20pt;
		font-family: $body-font;
		font-size: 18pt;
		line-height: 1.2;
	}
}

// Resume
main {
	#resume {
		flex: 0 1 $content-max-width;
		max-width: 100%;
		height: auto;
		border-radius: $img-border-radius;
		filter: brightness($resume-shade);
	}

	.download {
		float: right;
		margin-left: 20pt;
		margin-top: 8pt;
		margin-right: 6pt;
		width: 60pt;
		height: auto;
	}
}

// About
main {
	#about {
		color: $text-color;
		font-family: $body-font;
		font-size: $body-font-size;
		font-weight: $book;
		margin-top: 1pt;

		line-height: 1.2;
	}
}

footer {
	// TODO: finish footer
	float: left;
	max-width: $content-max-width;
	width: 100vw;
	height: 30pt;
}

@media only screen and (max-width: 500pt) {
	#flexbox {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	main {
		justify-content: center;
	}

	header {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		color: $text-color;
		font-family: $ui-font;
		font-size: $mobile-header-font-size;

		#header-title {
			flex: 1 1 100%;
			font-weight: $bold;
		}

		#header-subtitle {
			flex: 1 1 auto;
			font-weight: $light;
		}

		a {
			width: $mobile-header-size;
			margin-left: auto;
			margin-right: auto;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			span {
				flex: 1 0 auto;
			}
		}
	}

	nav {
		display: flex;
		justify-content: space-between;

		flex: 0 0 $mobile-header-size;

		height: auto;
		padding-top: 10pt;
		font-family: $ui-font;
		font-size: $mobile-nav-font-size;
		font-weight: $demibold;
		padding-left: 30pt;
		padding-right: 30pt;

		text-align: right;
		line-height: 1.6;

		width: 100%;

		span {
			flex: 0 0 auto;
			text-align: center;
		}
	}

	main {
		padding-left: 10pt;
		padding-right: 10pt;
	}

	// Work
	main {
		.center-wrapper {
			height: $mobile-card-height;
		}

		.card {
			margin-bottom: 10pt;
			height: $mobile-card-height;

			.card-icon {
				height: 80pt;
				width: 80pt;
				margin-top: 40pt;
				margin-bottom: 40pt;
				margin-left: 20pt;
			}

			.card-text {
				margin-top: 11pt;
				margin-bottom: 14pt;
				margin-left: 20pt;
				margin-right: 20pt;

				text-shadow: 0 1pt 10pt rgba(0, 0, 0, .4);

				.card-title {
					font-weight: $bold;
					font-size: $mobile-card-title-font-size;
					line-height: $mobile-card-title-line-height;
				}

				.card-roles {
					margin-top: 3pt;
					font-weight: $book;
					font-size: $mobile-card-roles-font-size;
				}
			}
		}
	}
}