@charset "UTF-8";
html {
  max-width: 600pt;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF; }

body {
  margin: 0 0 0 0;
  overflow-x: hidden; }

#background {
  max-width: 600pt;
  margin-left: 10pt;
  margin-right: 10pt;
  width: auto;
  height: auto;
  z-index: 100;
  background-color: white; }

#flexbox {
  display: flex; }

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s; }

a:hover {
  color: #FF2323; }

header {
  flex: 0 1 600pt;
  display: inline-block;
  padding-top: 30pt;
  margin-left: 100pt;
  color: black;
  font-family: "Helvetica Neue", "Gill Sans", sans-serif;
  font-size: 30pt;
  background-color: #FFFFFF; }
  header #header-title {
    display: inline-block;
    font-weight: 600; }
  header #header-subtitle {
    display: inline-block;
    font-weight: 300; }

nav {
  flex: 0 0 70pt;
  height: auto;
  padding-top: 20pt;
  font-family: "Helvetica Neue", "Gill Sans", sans-serif;
  font-size: 10pt;
  font-weight: 500;
  text-align: right;
  line-height: 1.6;
  background-color: #FFFFFF; }
  nav #active-link {
    color: black; }
  nav #active-link:before {
    content: "— "; }
  nav #inactive-link {
    color: #B3B3B3; }

main {
  flex: 0 1 480pt;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20pt;
  padding-left: 30pt;
  padding-right: 20pt;
  background-color: #FFFFFF; }

main .center-wrapper {
  display: table-cell;
  vertical-align: middle;
  height: 100pt; }

main .card {
  margin-bottom: 10pt;
  height: 100pt;
  border-radius: 5pt;
  font-family: "Helvetica Neue", "Gill Sans", sans-serif;
  color: white; }
  main .card .card-icon {
    float: left;
    height: 80pt;
    width: 80pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
    margin-left: 20pt; }
  main .card .card-text {
    display: inline-block;
    float: left;
    margin-top: 11pt;
    margin-bottom: 14pt;
    margin-left: 20pt;
    margin-right: 20pt;
    text-shadow: 0 1pt 10pt rgba(0, 0, 0, 0.4); }
    main .card .card-text .card-title {
      font-weight: 600;
      font-size: 20pt;
      line-height: 23pt; }
      main .card .card-text .card-title span {
        display: inline-block; }
    main .card .card-text .card-roles {
      margin-top: 3pt;
      font-weight: 500;
      font-size: 12pt;
      line-height: 13pt; }

main #towerfall-card {
  background-color: black; }
  main #towerfall-card .card-text {
    margin-top: 14pt;
    margin-bottom: 14pt; }

main #calendar-card {
  background-color: #FC3D39; }

main #gameplaykit-card {
  background-color: #F5683A; }

main #dndj-card {
  background-color: black; }

main #rp-card {
  background-color: #1B96B4; }

main #cocoanuts-card {
  background-color: #6D953B; }

main .hero-image {
  max-width: 480pt;
  border-radius: 5pt;
  filter: brightness(40%); }

main .project-text {
  position: absolute;
  top: 35pt;
  left: 30pt;
  margin-left: 20pt;
  color: white;
  font-family: "Helvetica Neue", "Gill Sans", sans-serif; }
  main .project-text .project-title {
    font-size: 36pt;
    font-weight: 500; }
  main .project-text .project-roles {
    position: absolute;
    top: 45pt;
    font-size: 18pt;
    font-weight: 400; }
  main .project-text .project-languages-tools {
    position: absolute;
    top: 200pt;
    font-size: 18pt;
    font-weight: 400; }

main .sub-image-1 {
  margin-top: 5pt;
  margin-right: 5pt;
  width: 245pt;
  border-radius: 5pt; }

main .sub-image-2 {
  width: 245pt;
  border-radius: 5pt; }

main .subtitle {
  margin-top: 4pt;
  margin-left: 5pt;
  font-family: "Helvetica Neue", "Gill Sans", sans-serif;
  font-size: 12pt;
  font-weight: 500;
  color: #808080; }

main .subtitle a {
  color: #4B81FF; }

main article {
  margin-top: 20pt;
  font-family: "Marion", "Garamond", serif;
  font-size: 18pt;
  line-height: 1.2; }

main #resume {
  flex: 0 1 480pt;
  max-width: 100%;
  height: auto;
  border-radius: 5pt;
  filter: brightness(98%); }

main .download {
  float: right;
  margin-top: 8pt;
  margin-right: 6pt;
  width: 60pt;
  height: auto; }

main #about {
  color: black;
  font-family: "Marion", "Garamond", serif;
  font-size: 18pt;
  font-weight: 400;
  margin-top: 1pt;
  line-height: 1.2; }

footer {
  float: left;
  max-width: 480pt;
  width: 100vw;
  height: 30pt; }

@media only screen and (max-width: 768px) {
  #flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  main {
    justify-content: center;
    padding-left: 10pt;
    padding-right: 10pt; }
  header {
    width: 100%;
    padding-top: 24pt;
    margin-left: 0;
    margin-right: 0;
    color: black;
    font-family: "Helvetica Neue", "Gill Sans", sans-serif;
    font-size: 20pt; }
    header #header-title {
      flex: 1 1 100%;
      font-weight: 600; }
    header #header-subtitle {
      flex: 1 1 auto;
      font-weight: 300; }
    header a {
      width: 178pt;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: 10pt; }
      header a span {
        flex: 1 0 auto;
        height: 24pt; }
  nav {
    display: flex;
    justify-content: space-between;
    flex: 0 0 178pt;
    height: auto;
    padding-top: 0;
    font-family: "Helvetica Neue", "Gill Sans", sans-serif;
    font-size: 11pt;
    font-weight: 500;
    padding-left: 30pt;
    padding-right: 30pt;
    text-align: right;
    line-height: 1.6;
    width: 100%; }
    nav span {
      flex: 0 0 auto;
      text-align: center; }
    nav #active-link a {
      border-bottom: 1.3pt solid black; }
    nav #active-link:before {
      content: none; }
  main {
    margin-left: 20pt;
    margin-right: 20pt;
    padding-left: 0;
    padding-right: 0;
    padding-top: 16pt; }
  main .center-wrapper {
    height: 100pt; }
  main .card {
    max-width: 330pt;
    margin-bottom: 10pt;
    height: 100pt;
    margin-left: auto;
    margin-right: auto; }
    main .card .card-icon {
      height: 60pt;
      width: 60pt;
      margin-top: 20pt;
      margin-bottom: 20pt;
      margin-left: 16pt; }
    main .card .card-text {
      margin-top: 11pt;
      margin-bottom: 14pt;
      margin-left: 16pt;
      margin-right: 16pt;
      text-shadow: 0 1pt 10pt rgba(0, 0, 0, 0.4); }
      main .card .card-text .card-title {
        font-weight: 600;
        font-size: 16pt;
        line-height: 18pt; }
      main .card .card-text .card-roles {
        margin-top: 3pt;
        font-weight: 500;
        font-size: 11pt;
        line-height: 12pt; }
  main .download {
    margin-top: 4pt;
    margin-right: 4pt;
    width: 50pt;
    height: auto; } }
